<ion-content>

  <div class="img">
    <img src="../../assets/images/1200px-Logo_des_Girondins_de_Bordeaux.svg.png"/>
  </div>

  <ion-segment (ionChange)="segmentClass()" mode="ios" value="connexion">
    <ion-segment-button value="inscription">
      <ion-label>Inscription</ion-label>
    </ion-segment-button>
    <ion-segment-button value="connexion">
      <ion-label>Connexion</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div id="login">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list style="--ion-background-color: rgba(0, 0, 0, 0)">
          <ion-item lines="none" mode="md">
            <div class="login--input">
              <ion-input type="email" inputmode="email" style="color: var(--ion-color-primary)" formControlName="loginEmail" placeholder="Adresse e-mail">
                <img class="center-icon" src="../../assets/icon/icon-manager.png"/>
              </ion-input>
            </div>
          </ion-item>
          <ion-item lines="none" mode="md">
              <div class="login--input">
                  <ion-input type="password" style="color: var(--ion-color-primary)" formControlName="loginPassword" placeholder="Mot de passe">
                    <img class="center-icon" src="../../assets/icon/icon-cadena.png"/>
                  </ion-input>
              </div>
          </ion-item>
          <p class="login--forget-password ion-text-right">
            <ion-text class="link-password" (click)="goToForgetPassword()">Mot de passe oublié ?</ion-text>
          </p>
      </ion-list>
      <div class="ion-text-center ion-padding">
        <ion-button mode="ios" shape="round" expand="block" type="submit" color="primary" [disabled]="!loginForm.valid">Se connecter</ion-button>
      </div>
    </form>
  </div>
  
  <div id="register" class="invisible">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-list style="--ion-background-color: rgba(0, 0, 0, 0)">
        <ion-item lines="none" mode="md">
            <div class="login--input">
              <ion-input type="email" inputmode="email" style="color: var(--ion-color-primary)" formControlName="registerEmail" placeholder="Adresse e-mail">
                <img class="center-icon" src="../../assets/icon/icon-manager.png"/>
              </ion-input>
            </div>
        </ion-item>
        <ion-item lines="none" mode="md">
          <div class="login--input">
              <ion-input type="text" style="color: var(--ion-color-primary)" formControlName="registerName" placeholder="Nom">
                <img class="center-icon" src="../../assets/icon/icon-manager.png"/>
              </ion-input>
          </div>
        </ion-item>
        <ion-item lines="none" mode="md">
            <div class="login--input">
                <ion-input type="password" style="color: var(--ion-color-primary)" formControlName="registerPassword" placeholder="Mot de passe">
                  <img class="center-icon" src="../../assets/icon/icon-cadena.png"/>
                </ion-input>
            </div>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-checkbox mode="ios" slot="start" formControlName="registerCheck" checked="false"></ion-checkbox>
          <ion-label class="check-text" text-wrap>J'accepte les Conditions Générales de l'application des Girondins de Bordeaux.</ion-label>
        </ion-item>
      </ion-list>
      <div class="ion-text-center ion-padding">
        <ion-button mode="ios" shape="round" expand="block" type="submit" color="primary" [disabled]="!registerForm.valid">S'inscrire</ion-button>
      </div>
    </form>
  </div>

</ion-content>